.navbar-container{
    height: 220px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo{
    width: 90px;
    height: 70px;
    background-color: white;
}

.navbar-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
}

.navbar-items li {
    margin-left: 30px;
}
